
<div class="container pt-5 pb-5">
  <div class="col-12">
      <div class="d-flex flex-wrap justify-content-between">
          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Produitt</h5>
                  <p class="card-text"></p>
                  <a [routerLink]="['admin/listproduit']" class="btn btn-primary">Gestion des produit</a>

              </div>
          </div>
          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Categorie</h5>
                  <p class="card-text"></p>
                  <a  [routerLink]="['admin/listcategorie']" class="btn btn-primary">Gestion des Categories</a>
              </div>
          </div>

              <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <p class="card-text"></p>
                    <a  [routerLink]="['register']" class="btn btn-primary">Gestion des Categories</a>
                </div>
              </div>

          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Departement</h5>
                  <p class="card-text"></p>
                  <a  [routerLink]="['admin/listdepartement']" class="btn btn-primary">Gestion des departements</a>
              </div>
          </div>

          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Personels</h5>
                  <p class="card-text"></p>
                  <a  [routerLink]="['admin/listpersonel']" class="btn btn-primary">Gerer les personels</a>
              </div>
          </div>

          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Factures</h5>
                  <p class="card-text"></p>
                  <a  [routerLink]="['admin/listfacture']" class="btn btn-primary">Gerer les factures</a>
              </div>
           </div>


          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Fournisseurs</h5>
                  <p class="card-text"></p>
                  <a  [routerLink]="['admin/listfournisseur']" class="btn btn-primary">Gerer Fournisseurs</a>
                </div>
          </div>

              <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Bureaus</h5>
                    <p class="card-text"></p>
                    <a  class="btn btn-primary"[routerLink]="['admin/listbureau']" >Gestion des bureaus</a>

                </div>
              </div>

              <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <p class="card-text"></p>
                    <a  [routerLink]="['register']" class="btn btn-primary">Gestion des Categories</a>
                </div>
              </div>

              <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Hors service</h5>
                    <p class="card-text"></p>
                    <a  [routerLink]="['admin/listavarie']" class="btn btn-primary">Gestion les Hors services</a>
                </div>
              </div>

              <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Contrat</h5>
                    <p class="card-text"></p>
                    <a  [routerLink]="['admin/listcontrat']" class="btn btn-primary">Gestion les contrats</a>
                </div>
              </div>

              <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Demande</h5>
                    <p class="card-text"></p>
                    <a  [routerLink]="['admin/listdemande']" class="btn btn-primary">Gestion les demandes</a>
                </div>
              </div>

              <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Departement</h5>
                    <p class="card-text"></p>
                    <a  [routerLink]="['admin/listdepartement']" class="btn btn-primary">Gestion les departements</a>
                </div>
              </div>

              <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Facture de reparation</h5>
                    <p class="card-text"></p>
                    <a  [routerLink]="['admin/listfacturereparer']" class="btn btn-primary">Gestion les  factures de reparation</a>
                </div>
              </div>

              <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Reparation</h5>
                    <p class="card-text"></p>
                    <a  [routerLink]="['admin/listreparer']" class="btn btn-primary">Gestion les cas de reparation</a>
                </div>
              </div>

              <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Roles</h5>
                    <p class="card-text"></p>
                    <a  [routerLink]="['admin/listrole']" class="btn btn-primary">Gestion les roles</a>
                </div>
              </div>

              <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Societe</h5>
                    <p class="card-text"></p>
                    <a  [routerLink]="['admin/listsociete']" class="btn btn-primary">Gestion les societes</a>
                </div>
              </div>


              <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Utilisateurs</h5>
                    <p class="card-text"></p>
                    <a  [routerLink]="['admin/listutilisateur']" class="btn btn-primary">Gestion les utilisateur</a>
                </div>
              </div>



      </div>
  </div>
</div>
