 <nav class="sidebar">
  <ul class="list-unstyled components mb-5">
    <li>
      <a routerLink="/Home" routerLinkActive="active">
        <i class="fa fa-tachometer-alt"></i>
        Tableau de bord
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-personel" routerLinkActive="active">
        <i class="fa fa-users"></i>
       clients
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-affectation" routerLinkActive="active">
        <i class="fa fa-list"></i>
       Gestion vente
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-produit" routerLinkActive="active">
        <i class="fa fa-book"></i>
        Produits
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-categorie" routerLinkActive="active">
        <i class="fa fa-certificate"></i>
      Categories
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-stock" routerLinkActive="active">
        <i class="fa fa-clipboard"></i>
        Gestion de stock
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-vente" routerLinkActive="active">
        <i class="fa fa-users"></i>
       Gestion ventes
      </a>
    </li>
    <!--
    <li>
      <a routerLink="/admin/list-categorie" routerLinkActive="active">
        <i class="fa fa-certificate"></i>
      Categories
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-fournisseur" routerLinkActive="active">
        <i class="fa fa-book"></i>
        Fournisseurs
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-societe" routerLinkActive="active">
        <i class="fa fa-address-book"></i>
     Societes
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-contrat" routerLinkActive="active">
        <i class="fa fa-address-book"></i>
     Contrat
      </a>
    </li> -->

     <!-- <li>
      <a routerLink="/admin/list-avarie" routerLinkActive="active">
        <i class=""></i>
       Hors service
      </a>
    </li>

     <li>
      <a routerLink="/admin/list-user" routerLinkActive="active">
        <i class="id-icon fa fa-lock"></i>
        Users
      </a>
    </li>
     <li>
      <a routerLink="/admin/list-role" routerLinkActive="active">
        <i class="fa fa-users"></i>
        Role
      </a>
    </li>

    <li>
      <a routerLink="/maj" routerLinkActive="active">
        <i class="fa fa-building"></i>
        Mise à jour
      </a>
    </li> -->
  </ul>
</nav>
