<!-- <div class="container">
  <h2>Liste des Produits</h2>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Code Produit</th>
        <th>Nom</th>
        <th>Désignation</th>
        <th>Quantité</th>
        <th>categorie/th>
        <th>Magasin</th>
        <th class="text-center">Actions</th> </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produitDto of produits">
        <td>{{ produitDto.id }}</td>
        <td>{{ produitDto.codeproduit }}</td>
        <td>{{ produitDto.nom }}</td>
        <td>{{ produitDto.designation }}</td>
        <td>{{ produitDto.quantite }}</td>
        <td>{{ produitDto.categorieId }}</td>
        <td>{{ produitDto.magasinId }}</td>

        <td class="text-center"> <button class="btn btn-sm btn-info" (click)="onDetails(produitDto)">
            <i class="fa fa-search"></i> Détails
          </button>
          <button class="btn btn-sm btn-warning" (click)="onEdit(produitDto.id)">
            <i class="fa fa-edit"></i> Modifier
          </button>
          <button class="btn btn-sm btn-danger" (click)="onDelete(produitDto.id)">
            <i class="fa fa-remove"></i> Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-end"> <button class="btn btn-md btn-outline-primary" (click)="onCreateProduit()">
      <i class="fa fa-user"></i> Nouveau Produit
    </button>
  </div>
</div> -->


