<nav class="sidebar">
  <ul class="list-unstyled components mb-5">
    <li>
      <a routerLink="/Home" routerLinkActive="active">
        <i class="fa fa-tachometer-alt"></i>
        Tableau de bord
      </a>
    </li>
    <li>
      <a routerLink="/comptable/list-proces-verbal" routerLinkActive="active">
        <i class="fa fa-subscript"></i>
     Ordre de proces verbal
      </a>
    </li>



    <li>
      <a routerLink="/comptable/list-ordre-mouvement" routerLinkActive="active">
        <i class="fa fa-users"></i>
        Ordre de mouvement
      </a>
    </li>

    <li>
      <a routerLink="/comptable/list-suivie" routerLinkActive="active">
        <i class="fa fa-list"></i>
        Suivie
      </a>
    </li>


    <li>
      <a routerLink="/maj" routerLinkActive="active">
        <i class="fa fa-building"></i>
        Mise à jour
      </a>
    </li>
  </ul>
</nav>
