 <nav class="sidebar">
  <ul class="list-unstyled components mb-5">
    <li>
      <a routerLink="/Home" routerLinkActive="active">
        <i class="fa fa-tachometer-alt"></i>
        Tableau de bord
      </a>
    </li>
    <li>
      <a routerLink="/personel/listsignaler" routerLinkActive="active">
        <i class="fa fa-subscript"></i>
      Signaler etat
      </a>
    </li>



    <li>
      <a routerLink="/personel/listdemande" routerLinkActive="active">
        <i class="fa fa-users"></i>
        Demandes
      </a>
    </li>


    <li>
      <a routerLink="/maj" routerLinkActive="active">
        <i class="fa fa-building"></i>
        Mise à jour
      </a>
    </li>
  </ul>
</nav>
