<div class="departement-details">
  <h3>Détails du département</h3>
  <div class="">
    <i class=""></i>
    <label><b>ID:</b></label>
    <span class="data-value">{{ departementDto.id }}</span>
  </div>
  <div class="departement-info">
    <i class=""></i>
    <label><b>Code:</b></label>
    <span class="data-value">{{ departementDto.code }}</span>
  </div>
  <div class="departement-info">
    <i class=""></i>
    <label>Nom du département:</label>
    <span class="data-value">{{ departementDto.nom }}</span>
  </div>
</div>

