
<div class="card col-md-4 offset-4">
  <div class="card-header text-white bg-info d-flex justify-content-between">
   <h4>Ajouter un Bureau</h4>
   <button class="btn btn-danger"  [routerLink]="['../list-bureau'] ">
    <i class="fa fa-arrow-left"></i>
  </button>
  </div>
 <div class="card-body">
     <form (ngSubmit) = "onSubmit()">

         <div class="form-row">
           <div class="col-md-4 mb-3">

                <label>Nom</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Nom"
                    [(ngModel)]="bureauDto.nom"
                    name="nom" required minlength="4" maxlength="30"
                    required
                    #nomVar="ngModel"
                    [ngClass]="{'is-invalid': nomVar.touched && !nomVar.valid}"
                  />

                  <div class="invalid-feedback">
                      <span *ngIf="nomVar.errors?.['required']">
                      Entrez votre nom
                      </span>
                      <span *ngIf="nomVar.errors?.['minlength']">
                        Minimum 4 caracteres
                      </span>
                      <span *ngIf="nomVar.errors?.['maxlength']">
                        Maximum 30 caracteres
                      </span>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Departement</label>
                    <select class="form-control" name="departements" id="departements" [(ngModel)]="bureauDto.departementDto.id"
                      required>
                      <option *ngIf="!departements?.length">Aucune catégorie disponible</option>
                      <option *ngFor="let departement of departements" value="{{departement.id}}">{{departement.nom}}</option>
                    </select>
                  </div>




            </div>
          </div>

                <div class="d-flex justify-content-end mt-2">
                  <button class="btn btn-info" type="submit">Sauvegarder</button>
                </div>
            <div class="form-row mb-3">
              <div class="col-md-12"></div>
            </div>
    </form>

  </div>
</div>
