<div class="container">
  <div class="row">
      <div class="col-md-10 offset-md-2 mt-5">
          <div class="card">

              <div class="card-body">
                  <form id="checklistForm">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="originInput" class="form-label">Origine (Origin)</label>
                                  <input type="text" class="form-control" id="originInput" name="origin" placeholder="Enter origin">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="destinationInput" class="form-label">Destination</label>
                                  <input type="text" class="form-control" id="destinationInput" name="destination" placeholder="Enter destination">
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </div>


<div class="col-12 text-center">



</div>
<div class="row text-center my-2 flex justify-content-between">
  <div class="col-2">

  </div>
  <div class="col-4">
    <h4 class="text-center">Ordre de Mouvement</h4>
  </div>
  <div class="col-2">
    <a routerLink="/comptable/add-proces-verbal" class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Ajouter
    </a>
  </div>
</div>
