<nav class="navbar navbar-expand-lg navbar-warning bg-warning">
  <div class="container">
      <a class="navbar-brand" href="/admin/dashboard-liste">Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div>
          <ul class="navbar-nav mx-auto">
              <li class=" btn-outline-primary nav-item" role="button">
                  <!-- <a class="nav-link" (click)="logout()"> -->
                      <i class="fas fa-sign-out-alt"></i>
                      Se déconnecter
                  <!-- </a> -->
              </li>
              <li class="nav-item" routerLinkActive="bg-info">
                  <!-- <a class="nav-link" href="/admin/user-modifier/{{userId}}">
                      {{user}}
                      <img src="/src/assets/user.jpg" alt="" class="img">
                  </a> -->
              </li>
          </ul>
      </div>
  </div>
</nav>
