<!-- <p>page-statistiques works!</p>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/Gestion des Produit"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Friends
      </a>
    </div>
    <div class="col-sm">
      <a href="/Gestion des Utilisateur"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>users
      </a>
    </div>
    <div class="col-sm">
      Button 3
    </div>
    <div class="col-sm">
      Button 4
    </div>
  </div>
</div>
 -->

 <div class="container pt-5 pb-5">
  <div class="col-12">
      <div class="d-flex flex-wrap justify-content-between">
          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Admin Component</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Admin Component</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Admin Component</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Admin Component</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Admin Component</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
          <div class="card shadow mt-2">
              <div class="card-body">
                  <h5 class="card-title">Admin Component</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
      </div>
  </div>
</div>
